@charset "UTF-8";
html {
    font-size: 62.5%;
    font-family: "M+PLUS+1p";
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: bisque;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
}

.form_btn {
    font-size: 2rem;
    width: 300px;
}

.radio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text_form {
    width: 300px;
}